/*
!.gitignore
!/eww/
!/nvim/
nvim/lazy-lock.json
!/hyper/
!/waybar/
!/sway/
!/swaylock/
!/i3/
!/hypr/
!/polybar/
!/kitty/
!wpaperd/
!lazygit/
!fcitx5/
!wezterm/
!mpd/
!wayle/
!opencode/
!neovide/
!gtk-3.0/
!gtk-4.0/
!himalaya/
!.claude/